.download{
   padding: 115px 0;

   @media (max-width: $breakpoint_xl){
      padding: 75px 0;
   }

   @media (max-width: $breakpoint_md){
      padding-top: 35px;
      padding-bottom: 45px;
   }

   .regular-text{
      margin-bottom: 50px;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: $breakpoint_xl){
         margin-bottom: 45px;
      }

      @media (max-width: $breakpoint_md){
         font-size: 13px;
         line-height: 15px;
         margin-bottom: 10px;
      }
   }

   .button.h4-title{

      @media (max-width: $breakpoint_xl){
         font-size: 18px;
         line-height: 21px;
      }
      
   }

   // &__title{
   //    font-weight: 500;
   //    font-size: 30px;
   //    text-align: center;
   //    margin-bottom: 30px;
   // }
}