.download{
   padding-top: 115px;
   padding-bottom: 115px;

   .regular-text{
      margin-bottom: 50px;
      font-weight: 700;
      text-transform: uppercase;
   }

   .button.h4-title{

      @media (max-width: $breakpoint_xl){
         font-size: 18px;
         line-height: 21px;
      }
      
   }

   // &__title{
   //    font-weight: 500;
   //    font-size: 30px;
   //    text-align: center;
   //    margin-bottom: 30px;
   // }
}