.footer{
   background-color: $footer-bg-color-light;
   padding-top: 75px;

   @media (max-width: $breakpoint_xl){
      padding-top: 45px;
   }

   &__contacts{
      display: flex;
      margin: 0 -15px;
      padding-bottom: 70px;

      @media (max-width: $breakpoint_xl){
         padding-bottom: 40px;
      }

      .footer__contact{
         width: calc(100% / 3 - 30px);
         margin: 0 15px;

         .regular-text{
            color: $white;
         }

         .regular-text:first-child{
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;

            @media (max-width: $breakpoint_xl){
               margin-bottom: 15px;
            }
         }

         .footer__icons--wrapper{
            display: flex;
            margin: 50px -15px 0;
            justify-content: center;

            @media (max-width: $breakpoint_xl){
               margin: 30px -10px 0;
            }

            .footer__icon--wrapper{
               display: flex;
               justify-content: center;
               align-items: center;
               margin: 0 15px;
               border: 1px solid $gray-icon;
               width: 40px;
               height: 40px;

               @media (max-width: $breakpoint_xl){
                  margin: 0 10px;
                  width: 35px;
                  height: 35px;
               }

               svg{
                  // max-width: 30px;
                  // max-height: 30px;
                  fill: $gray-icon;
               }
            }

            .footer__icon--wrapper:hover{
               border: 1px solid $red;
               transition: 0.3s;

               svg{
                  // max-width: 30px;
                  // max-height: 30px;
                  fill: $red;
                  transition: 0.3s;
               }
            }
         }


      }      
   }

   &__copyright{
      background-color: $footer-bg-color-dark;
      padding: 30px 0;

      @media (max-width: $breakpoint_xl){
         padding: 15px 0;
      }

      .regular-text{
         // width: calc(100% / 3);
         max-width: 370px;
         text-transform: capitalize;
         text-align: center;
         margin: 0 auto;

         @media (max-width: $breakpoint_xl){
            max-width: 315px;
         }

         .highlight{
            color: $white;
         }
      }
      
   }
}