.header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   background-color: transparent;
   z-index: 5;

   &__container{
      display: flex;
      justify-content: space-between;
   }

   &__logo--wrapper{
      padding: 35px 0;
   }

   &__nav{
   
      .nav__list{
         display: flex;
         // margin: 0 -40px;   
         
   
            .list-link{
               position: relative;
               padding: 40px;
               text-transform: uppercase;
               color: $white;
               // padding: 40px 0;
               // width: 100%;
               // height: 100%;
            }

            .list-link:active{
               color: $highlight-color;
            }
         
         }
      }      
   }

   .header__nav:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #BABBC5;
   }

   .list-link:hover.list-link:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #BABBC5;
      // transition: 0.3s;
   }

   

   .list-link:active.list-link:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #E71414;
   }

   

