.main-banner {
   background: url(../img/main-banner/main-bg.jpg) center/cover no-repeat;
   padding-top: 230px;
   padding-bottom: 120px;
   position: relative;

   @media (max-width: $breakpoint_xl){
      padding-top: 255px;
      padding-bottom: 125px;
   }
   
   p {
      font-weight: 400;
      color: $white;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 80px;

      @media (max-width: $breakpoint_xl){
         margin-top: 60px;
         margin-bottom: 90px;
      }
   }

   &:after{
      content: '';
      display: block;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $main-bg-color;
      opacity: 0.8;
   }
}