.our-team{
   padding: 115px 0;

   @media (max-width: $breakpoint_xl){
      padding: 80px 0;
   }

   @media (max-width: $breakpoint_md){
      padding: 35px 0;
   }

   &__person-cards{
      margin: 0 -15px;
      display: flex;

      @media (max-width: $breakpoint_xl){
         margin: 0 -13px;
      }

      @media (max-width: $breakpoint_md){
         flex-direction: column;
         margin: 0;
      }

      .person-card{
         width: calc(100% / 4 - 30px);
         margin: 0 15px;

         @media (max-width: $breakpoint_xl){
            width: calc(100% / 4 - 26px);
            margin: 0 13px;
         }

         @media (max-width: $breakpoint_md){
            width: 100%;
            margin: 0;
         }

         &__photo--wrapper{
            margin-bottom: 40px;

            @media (max-width: $breakpoint_xl){
               margin-bottom: 25px;
            }

            img{
               display: block;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }

         .h4-title{
            font-weight: 700;
            text-align: left;
            margin-bottom: 15px;

            @media (max-width: $breakpoint_xl){
               margin-bottom: 10px;
            }
         }

         // .regular-text{
         //    text-align: left;
         // }

         .regular-text{
            text-align: left;

            &--red-color{
               margin-bottom: 30px;

               @media (max-width: $breakpoint_xl){
                  height: 30px;
                  margin-bottom: 5px;
               }

               @media (max-width: $breakpoint_md){
                  height: 100%;
                  margin-bottom: 40px;
               }
            }
         }
         &__all-icons--wrapper{
            margin: 40px -3px 0;
            display: flex;

            @media (max-width: $breakpoint_md){
               margin-top: 50px;
            }

            .person-card__icon--wrapper{
               width: 40px;
               height: 40px;
               border: 1px solid $gray-icon;
               margin: 0 3px;
               display: flex;
               justify-content: center;
               align-items: center;  
               
               @media (max-width: $breakpoint_xl){
                  width: 30px;
                  height: 30px;
               }

               @media (max-width: $breakpoint_md){
                  width: 40px;
                  height: 40px;
               }

               svg{
                  // max-width: 30px;
                  // max-height: 30px;
                  fill: $gray-icon;
               }
            }

            .person-card__icon--wrapper:hover{
               border: 1px solid $red;
               transition: 0.3s;

               svg{
                  // max-width: 30px;
                  // max-height: 30px;
                  fill: $red;
                  transition: 0.3s;
               }
            }
         }

      }

      .person-card:not(.person-card:last-child){
         margin-bottom: 50px;
      }
   }
}