.testimonials{

   &__slider{

      .slider__slider-item{
         display: flex;
         width: 100%;   
         background-color: $slide-bg;  
         cursor: pointer;   

         @media (max-width: $breakpoint_md){
            flex-direction: column;
         }

         .slider-item__img--wrapper{
            width: 50%;
            height: 100%;
            // max-height: 490px;
            // overflow: hidden;

            @media (max-width: $breakpoint_md){
               width: 100%;
            }

            .slider-item__img{
               display: block;
               width: 100%;
               height: 100%;
               object-fit: cover;
               // object-position: center;
            }
         }         

         .slider-item__text{
            width: 50%;
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            max-width: 330px;
            margin: 0 auto;
            // padding-right: 190px;
            // padding-left: 130px;

            @media (max-width: $breakpoint_xl){
               // padding-right: 85px;
               // padding-left: 105px;
            }

            @media (max-width: $breakpoint_md){
               display: block;
               width: 100%;
               max-width: 100%;
               text-align: center;
               padding: 30px 25px 95px 20px;
            }

            

            .small-text{
               text-transform: uppercase;
               margin-top: 25px;
               // align-self: start;
            }
         }
      }
   }
   &__slider .slick-dots{
      position: static;
      margin-top: 25px;

      @media (max-width: $breakpoint_xl){
         margin-top: 20px;
      }
   }
   
   &__slider .slick-dots li{
      margin: 0 15px;

      @media (max-width: $breakpoint_md){
         margin: 0 10px;
      }
   }

   &__slider .slick-dots li button:before{
      display: none;
   }

   &__slider .slick-dots button{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #7E5D6F;

      @media (max-width: $breakpoint_xl){
         width: 10px;
         height: 10px;
      }
   }

   &__slider .slick-dots li.slick-active button{
      background-color: $dots-color;
   }
}