.work{

   &__works-gallery{
      display: flex;
      flex-wrap: wrap;

      .works-gallery__example{
         position: relative;
         width: calc(100% / 4 - 2px);
         margin: 1px;

         .example__img{
            // width: calc(100% / 4 - 2px);
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

         }

         .example__descr{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba(255, 67, 67, 0.8);
            z-index: -1;
            opacity: 0;
            color: $white;
            transition: 0.3s;
            
            .h4-title{
               margin-bottom: 35px;
               text-transform: uppercase;

               @media (max-width: $breakpoint_xl){
                  margin-bottom: 20px;
               }
            }
         }    
      }

      .works-gallery__example:hover .example__descr{
         opacity: 1;
         z-index: 1;
      }

      .works-gallery__example:active .example__descr{
         opacity: 1;
         z-index: 1;
         background: rgba(185, 12, 12, 0.8);
      }
   }
}