$black: #000;
$white: #fff;
$red: #FF4343;
$gray: #6C7279;
$gray-icon: #C6CBCD;
$gray-copy: #808080;
$slide-bg: #5C3249;
$dots-color: #7E5D6F;
$main-bg-color: #252B49;
$footer-bg-color-light: #353C65;
$footer-bg-color-dark: #2C3154;
$highlight-color: #E71414;

$breakpoint_xl: 1200px;
$breakpoint_md: 768px;
